{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="border p-3">
                <h2 class="text-3xl font-bold mb-6">Over Mij</h2>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <p>Ik ben Yarne Camps, een student Toegepaste Informatica met een afstudeerrichting in Artificiële Intelligentie. Ik ben van nature een rustig persoon die eerst nadenkt voordat ik iets zeg. Als je me beter leert kennen, ben ik echter wel wat losser.</p>
                    <p>Ik hou er niet van om in de spotlight te staan en alle aandacht op mij te hebben. Mijn interesses liggen vooral in het automatiseren van processen en het oplossen van complexe problemen met behulp van AI. Ik weet het nodige over computer hardware en begrijp hoe een AI-model werkt en hoe je er zelf een kunt maken.</p>
                    <p>Ik ben goed in het analyseren van complexe problemen en deze op te splitsen in kleinere, beter beheersbare stappen. Ook ben ik sterk in het oplossen van technische problemen, zoals bijvoorbeeld wanneer een harde schijf niet meer herkend wordt door Windows.</p>
                    <p>Ik denk graag na over oplossingen en zet die gedachten om in actie, bijvoorbeeld door code te schrijven of een AI-model te trainen. Wat betreft ambities: ik laat alles liever op zijn beloop, maar ik hoop over vijf jaar een vaste baan te hebben die ik graag doe, waarbij ik genoeg verdien om niet te veel zorgen te maken over geld. Daarnaast zou ik graag samen met mijn vriendin een eigen plekje hebben, of dat nu huren, kopen of bouwen is.</p>
                    <p>Er zijn nog dingen waar ik aan wil werken, zoals het minder afhankelijk zijn van AI bij het maken van applicaties of het trainen van modellen. Dit zou me helpen om dieper te begrijpen hoe alles werkt. Ook wil ik opener zijn naar mensen en wat makkelijker met ze praten.</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
</div>
{% endblock %}