{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Seminaries</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Uncanny: inleiding tot visuele generatieve AI – Stable Diffusion XL / ComfyUI / Controlnet (AIN/AON/all)</strong></h4>
                <p>Het seminarie ging over het gebruik van generatieve AI in creatieve media zoals tv-spots en animatiefilms, met de focus op tools zoals ComfyUI en de evolutie van AI als ondersteunende tool in het creatieve proces.</p>
                <p>Digital PXL - G414</p>
                <p>12/03/2024, 4 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Ericsson: The path to 6G (all)</strong></h4>
                <p>Het seminarie gaf een overzicht van de evolutie van mobiele netwerken van 1G tot 5G, met focus op de technologische vooruitgang en toepassingen van 5G in verschillende sectoren, gevolgd door een blik op de toekomst met 6G en de integratie van AI, digital twins en duurzame innovaties.</p>
                <p>Digital PXL – G414</p>
                <p>19/03/2024, 4 uur</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Tobania: AI Wizards (AIN/AON)</strong></h4>
                <p>Het seminarie ging over hoe moeilijk het tegenwoordig is om menselijk werk van AI-creaties te onderscheiden, gevolgd door een diepere uitleg over hoe grote AI-modellen zoals LLMs technisch functioneren en worden ingezet in softwareontwikkeling.</p>
                <p>Digital PXL – G414</p>
                <p>16/04/2024, 3 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Politie: Digitaal onderzoek: forensics, cybercrime, crypto-assets en data-analyse (SNB/all)</strong></h4>
                <p>Het seminarie ging over hoe de federale politie digitale technologie inzet bij het opsporen en analyseren van cybercriminaliteit, met thema’s als forensisch onderzoek, mobiele en automotive data-analyse en het bestrijden van phishing, ransomware en misbruik van cryptomunten.</p>
                <p>Digital PXL – G414</p>
                <p>07/05/2024, 3 uur</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Cegeka: digital twins (AON/AIN/SWM)</strong></h4>
                <p>Het seminarie ging over het gebruik van AI en digital twins om mobiliteitsuitdagingen in steden aan te pakken, met focus op datagedreven verkeerssimulaties, strategische en operationele voorspellingen en het Mobilize-model dat real-time verkeersinzicht mogelijk maakt.</p>
                <p>Corda 7 – CC713</p>
                <p>23/10/2024, 4 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>IBM: Discover the meeting point of GenAI, Prompt Engineering and Quantum Computing (all)</strong></h4>
                <p>Het seminarie ging over de evolutie van AI en de opkomst van quantum computing, met uitleg over foundation models, LLMs zoals Perplexity en hoe quantumtechnologie kan worden ingezet voor simulaties, machine learning en het genereren van hoogwaardige synthetische data.</p>
                <p>Corda 7 – CC712</p>
                <p>06/11/2024, 2 uur 45 minuten</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Inetum: CoPilot Studio: build intelligent connected chatbots leveraging the power of genAI (AIN/AON)</strong></h4>
                <p>Het seminarie ging over hoe generatieve AI originele content creëert via training en contextbegrip, met als afsluiter een interactieve sessie waarin we zelf een chatbot bouwden in Copilot Studio.</p>
                <p>Corda 7, CC712</p>
                <p>04/12/2024, 4 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>AE: State management for Angular (AON/AIN)</strong></h4>
                <p>Het seminarie ging over state management en dataflow binnen applicaties, met een hands-on oefening waarbij we zelf een eenvoudige Angular-app bouwden om deze concepten toe te passen.</p>
                <p>Corda 7, CC712</p>
                <p>11/12/2024, 3 uur</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}