{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Innovaties</h2>
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Innovatieroute: genAI – prompt engineering</strong></h4>
                <p>Tijdens de innovatieroute werkten we met SAP TechEd Virtual, waar we via prompt engineering een volledige applicatie ontwikkelden met een backend, frontend en database. We maakten gebruik van SAP-tools en Joule, de AI-assistent van SAP, om het ontwikkelproces te ondersteunen en te versnellen.</p>
                <p>Corda 7 – CC713</p>
                <p>24/09/2024, 01/10/2024, 08/10/2024, 15/10/2024, 7 uur 30 min per dag</p>
            </div>
        
        
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Hackathon: PXL Hackathon @ PXL in samenwerking met PXL Ergo/Healthcare</strong></h4>
                <p>De hackathon ging over het ontwerpen van een educatieve en toegankelijke game voor personen met een matige tot ernstige verstandelijke beperking. Tijdens het event ontwikkelden we een prototype met focus op zelfstandigheid, cognitieve stimulatie, gebruiksvriendelijkheid (zoals grote knoppen, auditieve instructies en visuele ondersteuning) en spelvariatie, met spelelementen rond tellen, sorteren, vormen herkennen en eenvoudige rekenoefeningen.</p>
                <p>Corda 7 – CC711</p>
                <p>10/02/2025, 11/02/2025, 8 uur per dag</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
</div>
{% endblock %}