{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="border p-3">
                <h2>Internationalisering</h2>
                <h4 class="text-3xl font-bold mb-3"><strong>Studiereis Linz</strong></h4>
                <p>Tijdens de studiereis naar Linz en Salzburg namen we deel aan een gevarieerd programma met bezoeken aan het Ars Electronic Center, workshops en infosessies aan de FH Oberösterreich over interactieve media en internationalisering, gecombineerd met culturele ontdekking en ontspanning in Salzburg.</p>
                <p>Oostenrijk (Linz, Hagenberg, Salzburg)</p>
                <p>19 tem 23/03/2025</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
</div>
{% endblock %}