{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Persoonlijke ontwikkeling</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>Projectweek 2TIN</strong></h4>
                <p>Tijdens de projectweek werden er verschillende informatieve sessies georganiseerd rond persoonlijke ontwikkeling, projectwerking, netwerken, internationalisering en technologische innovaties. Er was een sessie over effectief netwerken, met nadruk op de kracht van de tweede graad en het belang van relatieopbouw. Daarnaast werd het belang van buitenlandse stages toegelicht binnen het kader van internationalisering. Cegeka gaf een sessie over het gebruik van big data om mobiliteit te verbeteren, zoals het detecteren en aanpakken van sluipverkeer via simulaties. Verder kwamen ook thema’s zoals I-Talent en het agile werkproces aan bod.</p>
                <p>PXL Digital</p>
                <p>12 tem 16/02/2024, 27 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>POP-sessie 2TIN: POPping</strong></h4>
                <p>Tijdens de sessie werkten we in groep rond zelfinzicht, feedback geven en het opstellen van een persoonlijk ontwikkelingsplan, met focus op zelfkennis en veerkracht.</p>
                <p>PXL Digital – B301</p>
                <p>27/02/2024, 2 uur</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>POP-sessie 2TIN: Brein aan het werk! Niet storen!</strong></h4>
                <p>Tijdens deze sessie onderzochten we de impact van digitale overbelasting op onze hersenen en kregen praktische tools aangereikt om efficiënter te werken in een constante online omgeving.</p>
                <p>PXL Digital – B302</p>
                <p>27/02/2024, 2 uur</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border p-3">
                <h4 class="text-3xl font-bold mb-3"><strong>POP-sessie 3TIN: My Team and I</strong></h4>
                <p>Tijdens deze sessie rond teamwerking leerden we via het model van Lencioni en het Tuckman-model hoe effectieve teams zich vormen, ontwikkelen en functioneren. We onderzochten de bouwstenen van vertrouwen, betrokkenheid, feedback en gezamenlijke doelen en gingen aan de slag met het analyseren van onze eigen teamdynamiek en groeikansen.</p>
                <p>Corda - ISpace</p>
                <p>09/10/2024, 2 uur</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}